{%  extends 'topicApp/base.html' %}

{% block title %}
    Topics
{% endblock %}


{% block bodyBlock %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Topics Page</h1>
                <p class="lead">view and add topics.</p>
            </div>
        </div>

    <table class="table">
         <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Topic</th>
                <th scope="col">Created at</th>
            </tr>
     </thead>
    <tbody>
        {% for topic in topics %}
        <tr>
            <th scope="row">{{ topic.id }}</th>
            <td><a href="{%  url 'topic' topic.id %}"> {{ topic.text }} </a></td>
            <td>{{ topic.date_added }} </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div  class="container-fluid">
            <a href="{% url 'new_topic' %}"><button type="button" class="btn btn-primary btn-sm"> Add new Topic</button></a>
    </div>
{% endblock %}